Error Workflow for NewsletterManager (2).json
{
  "name": "Error Workflow for NewsletterManager",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1cfa1a44-a019-440a-9e7f-36cc134a3097",
      "name": "Error Trigger",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Workflow: {{ $json.workflow.name }}\nFailing Node: {{ $json.execution.lastNodeExecuted }}\nError Message: {{ $json.execution.error.message }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a diagnostic assistant. Given a workflow error, produce:\n- hypothesis: a brief guess of the root cause (1 sentence)\n- action: a recommended next step for the engineer (1 sentence)\nOutput ONLY JSON: { \"hypothesis\": \"...\", \"action\": \"...\" }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        0
      ],
      "id": "5133924b-8500-4ef2-a936-b91ca3a17827",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"hypothesis\": { \"type\": \"string\" },\n    \"action\": { \"type\": \"string\" }\n  },\n  \"required\": [\"hypothesis\", \"action\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        224
      ],
      "id": "bb3ef4c2-17c1-4956-8649-5d6ffcc63c9a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "google/gemini-3.1-flash-lite",
        "options": {
          "maxTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "00d7a85a-b609-4b2b-8caf-d0fb754c42cc",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "zL7nSjYFjIaz3RGX",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-medium",
        "options": {
          "maxTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        384,
        192
      ],
      "id": "9f336677-476b-416e-8706-0e8b5dde337e",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "gAykUPOcSoQmR4NC",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "mercykihugu484@gmail.com",
        "subject": "=⚠️ Nairobi Nexus Newsletter – Workflow Failed at {{ $json.execution.lastNodeExecuted }}",
        "message": "=<h2>🚨 Workflow Failure Alert</h2> <p><strong>Hypothesis:</strong> {{ $json.output.hypothesis }}</p> <p><strong>Recommended Action:</strong> {{ $json.output.action }}</p> <hr /> <p><small>Failed workflow: {{ $node[\"Error Trigger\"].json.workflow.name }}</small></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        816,
        0
      ],
      "id": "817bf300-4f69-4b4d-b34b-b7d75618364d",
      "name": "Send a message",
      "webhookId": "769dbfaa-a938-494d-b05a-4fb75933531c",
      "credentials": {
        "gmailOAuth2": {
          "id": "Amd7JoXwP5xwUr2O",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "Error"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        464,
        240
      ],
      "id": "8790b4fc-de9a-4f19-aecb-f6e3b1a505a7",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ee8bc809-8a0b-471a-ab92-cc963d03b8dd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87a078f3bc48d2fed8c592932447116865d97ee0ec39c410fb1495422eda3431"
  },
  "id": "RaBywaoJqnF0JwKH",
  "tags": []
}