Main Workflow – Test Backup AI (3).json
{
  "name": "Main Workflow – Test Backup AI",
  "nodes": [
    {
      "parameters": {
        "url": "https://techcabal.com/category/news/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -480,
        96
      ],
      "id": "3e71df45-3bf5-4142-8080-2c6c342570b3",
      "name": "HTTP _ TechCabal",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.item.json.body || $input.item.json.data || $input.item.json;\nconst cleanText = html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst truncated = cleanText.slice(0, 5000);\nreturn { json: { data: truncated } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        96
      ],
      "id": "6081839d-3dd6-43b9-af43-50aac6a02182",
      "name": "Truncate TechCabal"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a field reporter for Nairobi Nexus.\n\nAnalyze the provided HTML and extract the single most important tech or business headline.\n\nIMPORTANT:\n- Return ONLY valid JSON\n- Do not include explanations\n- Do not use markdown\n- Do not wrap the JSON in backticks\n\nCorrect format:\n{\n  \"source\": \"TechCabal\",\n  \"headline\": \"headline text here\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "48c2fbbb-0eb4-421b-b394-2ecc38b2089e",
      "name": "AI Agent _ TechCabal Reporter",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"source\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the news source (e.g., TechCabal, Business Daily, etc.)\"\n    },\n    \"headline\": {\n      \"type\": \"string\",\n      \"description\": \"The single most important headline extracted from the source\"\n    }\n  },\n  \"required\": [\"source\", \"headline\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "a3aa04af-3d38-4ec0-9900-72a60d598368",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.output;\nif (!output || typeof output !== 'object') {\n  return { json: { source: $input.item.json.source || \"Unknown\", headline: null, valid: false } };\n}\nif (!output.source || typeof output.source !== 'string') output.source = \"Unknown\";\nif (!output.headline || typeof output.headline !== 'string') output.headline = null;\noutput.valid = (output.headline !== null && output.headline.length > 0);\nreturn { json: output };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        96
      ],
      "id": "3d73e1cd-ae02-402b-9fd5-be7e901e4aff",
      "name": "Validate TechCabal"
    },
    {
      "parameters": {
        "url": "https://www.businessdailyafrica.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -480,
        512
      ],
      "id": "4680fe0f-16d6-4b0e-9054-c41d0b8aab4e",
      "name": "HTTP_Business Daily Reporter",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.item.json.body || $input.item.json.data || $input.item.json;\nconst cleanText = html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst truncated = cleanText.slice(0, 5000);\nreturn { json: { data: truncated } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        512
      ],
      "id": "c5180548-b511-4ef3-83d8-cda7a095ebfb",
      "name": "Truncate Business Daily"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a field reporter for Nairobi Nexus.\n\nExtract the single most important Kenyan business or tech headline from the raw HTML.\n\nReturn ONLY valid JSON:\n{\n  \"source\": \"Business Daily\",\n  \"headline\": \"headline text\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        400
      ],
      "id": "7c77b844-79cf-41e9-b850-a48353518b78",
      "name": "AI Agent _ Business Daily Reporter",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"source\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the news source (e.g., TechCabal, Business Daily, etc.)\"\n    },\n    \"headline\": {\n      \"type\": \"string\",\n      \"description\": \"The single most important headline extracted from the source\"\n    }\n  },\n  \"required\": [\"source\", \"headline\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        224,
        624
      ],
      "id": "fc18c7f2-0edb-46f0-a007-deb0710a9ab9",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.output;\nif (!output || typeof output !== 'object') {\n  return { json: { source: $input.item.json.source || \"Unknown\", headline: null, valid: false } };\n}\nif (!output.source || typeof output.source !== 'string') output.source = \"Unknown\";\nif (!output.headline || typeof output.headline !== 'string') output.headline = null;\noutput.valid = (output.headline !== null && output.headline.length > 0);\nreturn { json: output };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        512
      ],
      "id": "5e5d2071-914b-445e-abc6-17d80fd720a1",
      "name": "Validate Business Daily"
    },
    {
      "parameters": {
        "url": "https://www.the-star.co.ke/news",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -480,
        912
      ],
      "id": "e6df3647-0bcc-4cb1-bb6d-910f0170ddc8",
      "name": "HTTP_The Star",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.item.json.body || $input.item.json.data || $input.item.json;\nconst cleanText = html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst truncated = cleanText.slice(0, 5000);\nreturn { json: { data: truncated } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        912
      ],
      "id": "2f6918bb-b329-4be8-8187-48b34032dce0",
      "name": "Truncate The Star"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "Extract the top tech, startup, or economy headline.\n\nReturn JSON:\n{\n  \"source\": \"The Star\",\n  \"headline\": \"...\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        800
      ],
      "id": "fb9290a7-2d4f-4702-a301-67e0c5ca028a",
      "name": "AI Agent_The Star",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"source\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the news source (e.g., TechCabal, Business Daily, etc.)\"\n    },\n    \"headline\": {\n      \"type\": \"string\",\n      \"description\": \"The single most important headline extracted from the source\"\n    }\n  },\n  \"required\": [\"source\", \"headline\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        224,
        1024
      ],
      "id": "69255e44-c6c4-4e9e-a00f-0b9a506bf94f",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.output;\nif (!output || typeof output !== 'object') {\n  return { json: { source: $input.item.json.source || \"Unknown\", headline: null, valid: false } };\n}\nif (!output.source || typeof output.source !== 'string') output.source = \"Unknown\";\nif (!output.headline || typeof output.headline !== 'string') output.headline = null;\noutput.valid = (output.headline !== null && output.headline.length > 0);\nreturn { json: output };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        912
      ],
      "id": "10b0afea-54d6-490a-8d9b-38d4dc6e1683",
      "name": "Validate The Star"
    },
    {
      "parameters": {
        "url": "https://www.standardmedia.co.ke/",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -480,
        1312
      ],
      "id": "d278381f-c84f-4e6b-827c-5caad4e6bfe5",
      "name": "HTTP_The Standard",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.item.json.body || $input.item.json.data || $input.item.json;\nconst cleanText = html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst truncated = cleanText.slice(0, 5000);\nreturn { json: { data: truncated } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        1312
      ],
      "id": "37c8b362-3e9f-4497-92c2-135d17fe6f55",
      "name": "Truncate The Standard"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "Extract the most important innovation or economy headline.\n\nReturn ONLY JSON:\n{\n  \"source\": \"The Standard\",\n  \"headline\": \"...\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        1200
      ],
      "id": "859067a6-6b3c-489c-977a-513f86deea9c",
      "name": "AI Agent_The Standard",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"source\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the news source (e.g., TechCabal, Business Daily, etc.)\"\n    },\n    \"headline\": {\n      \"type\": \"string\",\n      \"description\": \"The single most important headline extracted from the source\"\n    }\n  },\n  \"required\": [\"source\", \"headline\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        224,
        1424
      ],
      "id": "e08f31af-9507-4fb3-849c-57553d8b4b67",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.output;\nif (!output || typeof output !== 'object') {\n  return { json: { source: $input.item.json.source || \"Unknown\", headline: null, valid: false } };\n}\nif (!output.source || typeof output.source !== 'string') output.source = \"Unknown\";\nif (!output.headline || typeof output.headline !== 'string') output.headline = null;\noutput.valid = (output.headline !== null && output.headline.length > 0);\nreturn { json: output };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1312
      ],
      "id": "f71078c2-114d-49ff-82b9-d0084c9aa06f",
      "name": "Validate The Standard"
    },
    {
      "parameters": {
        "url": "https://kenyanwallstreet.com/",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -480,
        1712
      ],
      "id": "666c9eb8-0439-4f44-b279-14a735ec1e56",
      "name": "HTTP _The Kenyan Wallstreet",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.item.json.body || $input.item.json.data || $input.item.json;\nconst cleanText = html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst truncated = cleanText.slice(0, 5000);\nreturn { json: { data: truncated } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        1712
      ],
      "id": "424661a6-3173-4cc7-a17a-d73018e2480e",
      "name": "Truncate Kenyan Wallstreet"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.slice(0, 2000) }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a field reporter for Nairobi Nexus.\n\nAnalyze the provided webpage content and identify the single most important finance, startup, business, or technology headline.\n\nReturn ONLY valid JSON.\n\nFormat:\n{\n  \"source\": \"Kenyan WallStreet\",\n  \"headline\": \"headline text\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        1712
      ],
      "id": "57ecde55-a8c3-444b-b6e5-bb7aadab24ea",
      "name": "AI Agent_The Kenyan wall street",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"source\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the news source (e.g., TechCabal, Business Daily, etc.)\"\n    },\n    \"headline\": {\n      \"type\": \"string\",\n      \"description\": \"The single most important headline extracted from the source\"\n    }\n  },\n  \"required\": [\"source\", \"headline\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        224,
        1936
      ],
      "id": "78a82fbb-683d-46cb-899a-7c256391850f",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.output;\nif (!output || typeof output !== 'object') {\n  return { json: { source: $input.item.json.source || \"Unknown\", headline: null, valid: false } };\n}\nif (!output.source || typeof output.source !== 'string') output.source = \"Unknown\";\nif (!output.headline || typeof output.headline !== 'string') output.headline = null;\noutput.valid = (output.headline !== null && output.headline.length > 0);\nreturn { json: output };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1712
      ],
      "id": "2c59a0ac-56ba-417a-9ab7-f8e1422b3c12",
      "name": "Validate Kenyan Wallstreet"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        864
      ],
      "id": "893f8e0e-8087-446a-b971-906ee438d023",
      "name": "Merge Field Reports"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        880,
        912
      ],
      "id": "a2db0695-5d4e-4885-b21d-f80de2cc300e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.data;\nlet successCount = 0;\nlet failedSources = [];\nfor (const item of data) {\n  if (item.valid === true) {\n    successCount++;\n  } else {\n    failedSources.push(item.source || \"unknown\");\n  }\n}\nreturn {\n  json: {\n    data: data,\n    governance: {\n      timestamp: new Date().toISOString(),\n      sourcesSucceeded: successCount,\n      sourcesFailedList: failedSources.join(\", \"),\n      workflowVersion: \"2.0.0\"\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        912
      ],
      "id": "a1a0252a-c8a2-465c-96fc-62933264e3ab",
      "name": "Count & Governance"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here are the headlines from Kenyan publications:\n{{ JSON.stringify($json.data) }}\n\nRespond with ONLY this JSON and nothing else — no markdown fences, no explanation:\n{\"intro\": \"your markdown newsletter here\"}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are Kamau, a witty tech editor in Nairobi. Synthesize the following headlines into a short, engaging newsletter intro.\n\nConstraints:\n1. Strictly under 200 words.\n2. Use Kenyan slang (e.g., \"Bazeng\", \"Form ni gani\", \"Sasa\", \"Niaje\").\n3. Format the output as Markdown.\n\nOutput ONLY the newsletter intro, no extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1360,
        912
      ],
      "id": "dd279be0-017a-47af-a79b-5e6ab60b8a66",
      "name": "AI Agent_Chief Editor",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.output || $input.item.json;\nif (!output || typeof output !== 'object') {\n  return { json: { output: { intro: \"⚠️ Newsletter generation encountered a technical issue. Full content will be available next week.\" } } };\n}\nconst intro = output.intro || output.text || \"\";\nif (typeof intro !== 'string' || intro.trim().length === 0) {\n  return { json: { output: { intro: \"⚠️ The AI produced an empty response. Please check the logs.\" } } };\n}\nreturn { json: { output } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        784
      ],
      "id": "0d33e88e-d805-434a-b5bf-d28c4c42605a",
      "name": "Validate Chief Output"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2480,
        912
      ],
      "id": "0ed6a896-f182-4322-a61f-908e9633c8e3",
      "name": "Merge Success/Fallback"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Original newsletter intro:\n{{ $json.output.intro }}\n\nHeadlines used (for relevance check):\n{{ JSON.stringify($node[\"Count & Governance\"].json.data) }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a quality assurance agent for a weekly newsletter. You will receive a newsletter intro and the original headlines.\n\nYour task is to validate and optionally correct the intro according to strict rules:\n1. Length: Must be under 200 words. If longer, truncate to the first 200 words.\n2. Kenyan slang: Must contain at least one Kenyan slang word (e.g., \"Bazeng\", \"Form ni gani\", \"Sasa\", \"Niaje\", \"Poa\", \"Sawa\", \"Maze\").\n3. Markdown: Must be valid Markdown (headings, bold, italics, lists allowed; raw HTML is not allowed).\n4. Content: Must be relevant to the provided headlines (no unrelated topics).\n\nAdditionally, generate a one-sentence \"Parting Word\" related to the week's themes.\n\nOutput ONLY a valid JSON object with the following keys. Do not include any other text, explanations, or markdown fences.\n- \"passed\": boolean (true if all rules are satisfied)\n- \"corrected_intro\": string (the intro after any corrections; if passed is true, this should be the original intro)\n- \"issues\": array of strings (list of any rules violated)\n- \"parting_word\": string\n\nExample output:\n{\"passed\": true, \"corrected_intro\": \"**Sasa Bazeng!** ...\", \"issues\": [], \"parting_word\": \"Keep learning, keep growing.\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2736,
        912
      ],
      "id": "97465e29-b78e-4acc-85fb-78bc9ba3cec0",
      "name": "QA Agent"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst qaOutput = item.output || item;\nconst correctedIntro = qaOutput.corrected_intro || \"⚠️ QA processing failed. Please check logs.\";\nconst governance = $node[\"Count & Governance\"].json.governance;\nconst isFallback = item._fallback === true;\nif (isFallback) {\n  governance.fallbackTriggered = true;\n} else {\n  governance.fallbackTriggered = false;\n}\nreturn {\n  json: {\n    intro: correctedIntro,\n    parting_word: qaOutput.parting_word || \"Keep learning, keep growing.\",\n    governance: governance,\n    qa_passed: qaOutput.passed,\n    qa_issues: qaOutput.issues || []\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        912
      ],
      "id": "1d0f888f-a6d2-4e93-b896-a1024756b0a5",
      "name": "Extract Governance & Intro"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1kXvqO8aGantVvrwQ1GgL2NQMevvMrmjIHrFsd5qHaFs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Drafts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXvqO8aGantVvrwQ1GgL2NQMevvMrmjIHrFsd5qHaFs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "=={{ $now }}",
            "Successful Sources": "=={{ $node[\"Count & Governance\"].json.governance.sourcesSucceeded }}",
            "Draft Body": "={{ $json.intro }}",
            "Model Used": "gpt-4o-mini (fallback: llama-3.1-8b-instant)"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Successful Sources",
              "displayName": "Successful Sources",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Draft Body",
              "displayName": "Draft Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Model Used",
              "displayName": "Model Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3392,
        816
      ],
      "id": "88002bdb-f22c-4cbb-b6db-c0d4ddb299be",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HKdh8bIHFchf6mJI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1kXvqO8aGantVvrwQ1GgL2NQMevvMrmjIHrFsd5qHaFs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1574345771,
          "mode": "list",
          "cachedResultName": "Governance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXvqO8aGantVvrwQ1GgL2NQMevvMrmjIHrFsd5qHaFs/edit#gid=1574345771"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "=={{ $json.governance.timestamp }}",
            "Sources Succeeded": "=={{ $json.governance.sourcesSucceeded }}",
            "Sources Failed": "=={{ $json.governance.sourcesFailedList }}",
            "Model Used": "=={{ $json.governance.fallbackTriggered ? \"magistral-small-latest\" : \"llama-3.3-70b-versatile\" }}",
            "Workflow Version": "=={{ $json.governance.workflowVersion }}",
            "Output Status": "=={{ $json.governance.outputStatus || 'success' }}",
            "Fallback Triggered": "=={{ $json.governance.fallbackTriggered || false }}",
            "QA Passed": "=={{ $json.qa_passed }}",
            "QA Issues": "=={{ $json.qa_issues.join(', ') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sources Succeeded",
              "displayName": "Sources Succeeded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sources Failed",
              "displayName": "Sources Failed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Model Used",
              "displayName": "Model Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Workflow Version",
              "displayName": "Workflow Version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Output Status",
              "displayName": "Output Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fallback Triggered",
              "displayName": "Fallback Triggered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "QA Passed",
              "displayName": "QA Passed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "QA Issues",
              "displayName": "QA Issues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3392,
        1008
      ],
      "id": "b821bea3-d3b6-4300-8545-0a1b3b0dcc70",
      "name": "Log Governance",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HKdh8bIHFchf6mJI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "mercykihugu484@gmail.com",
        "subject": "=Nairobi Nexus Draft – {{ $now.toFormat('yyyy-MM-dd') }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"padding: 20px;\">\n    <h2>Your Nairobi Nexus Weekly Digest</h2>\n    <div>{{ $node[\"Extract Governance & Intro\"].json.intro }}</div>\n    <hr style=\"margin: 20px 0; border: 0; border-top: 1px solid #eee;\">\n    <div style=\"color: #666; font-style: italic;\">\n      💡 <strong>This week's parting thought:</strong><br>\n      \"{{ $node[\"Extract Governance & Intro\"].json.parting_word }}\"\n    </div>\n    <hr style=\"margin: 20px 0; border: 0; border-top: 1px solid #eee;\">\n    <div style=\"color: #999; font-size: 12px;\">\n      This newsletter was automatically generated by the Nairobi Nexus AI system.\n    </div>\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3616,
        816
      ],
      "id": "9466346e-7ced-4240-92c4-144de4d2dbf0",
      "name": "Send a message",
      "webhookId": "1f52125e-93f1-40f0-93f8-3ab81f618b89",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "Amd7JoXwP5xwUr2O",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "maxOutputTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        224
      ],
      "id": "00ce6dda-d534-454d-b658-1a69a7f2367e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bATTxkU152jS5uVc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {
          "maxOutputTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        224
      ],
      "id": "1316700a-ed4f-44b7-81fa-2f256253e7c3",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "bATTxkU152jS5uVc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {
          "maxOutputTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        624
      ],
      "id": "2b9d06d8-0954-4f46-84fb-901544004043",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "bATTxkU152jS5uVc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "maxTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -32,
        1024
      ],
      "id": "85e46bd5-462a-4322-ba55-eba62d4f3058",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "gAykUPOcSoQmR4NC",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "magistral-small-latest",
        "options": {
          "maxTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        96,
        1024
      ],
      "id": "e7930c21-975c-40d5-bdef-f7ff167c6bfd",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "gAykUPOcSoQmR4NC",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "maxTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -32,
        1424
      ],
      "id": "ee9b6708-0c4c-4157-9495-37ae9cf207f9",
      "name": "Mistral Cloud Chat Model2",
      "credentials": {
        "mistralCloudApi": {
          "id": "gAykUPOcSoQmR4NC",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "maxTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        96,
        1424
      ],
      "id": "aa5c452f-3129-4bc4-a987-c053a4dd3afa",
      "name": "Mistral Cloud Chat Model3",
      "credentials": {
        "mistralCloudApi": {
          "id": "gAykUPOcSoQmR4NC",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "maxTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -32,
        1936
      ],
      "id": "e94c76e8-e9ef-4c9f-8b46-69ad8e8c83a2",
      "name": "Mistral Cloud Chat Model4",
      "credentials": {
        "mistralCloudApi": {
          "id": "gAykUPOcSoQmR4NC",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "maxTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        96,
        1936
      ],
      "id": "a3eac9dd-9ad3-431c-9023-8220a6b25ad3",
      "name": "Mistral Cloud Chat Model5",
      "credentials": {
        "mistralCloudApi": {
          "id": "gAykUPOcSoQmR4NC",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-newsletter",
        "responseMode": "lastNode",
        "responseData": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        912
      ],
      "id": "fb464ff0-47c2-4865-bdd6-04c88ade4d46",
      "name": "Webhook",
      "webhookId": "27e93d22-49ad-4026-b5a8-fa035f43e089",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.3-70b-versatile",
          "mode": "list",
          "cachedResultName": "llama-3.3-70b-versatile"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        624
      ],
      "id": "042eea38-6f74-4f3d-8ea1-3862345f03e8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NiREFf5ThRtmRJ4z",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "maxTokensToSample": 0,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1328,
        1136
      ],
      "id": "8fe1d8fe-9aea-46bc-9eb3-f719a9ce78ee",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "hA6sEuqpU2PWUlkp",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 0,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1456,
        1136
      ],
      "id": "be334a28-e810-4728-8982-0466b62e29fc",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "hA6sEuqpU2PWUlkp",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"intro\": {\n      \"type\": \"string\",\n      \"description\": \"The newsletter introduction text, strictly under 200 words, using Kenyan slang, formatted as Markdown.\"\n    }\n  },\n  \"required\": [\"intro\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1584,
        1136
      ],
      "id": "388348e2-6a8a-4e0c-affd-ac369e3d0a08",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"intro\": { \"type\": \"string\" }\n  },\n  \"required\": [\"intro\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2048,
        1264
      ],
      "id": "8ba6114f-9b00-4628-a1a4-5748d45609cf",
      "name": "Structured Output Parser6"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"passed\": { \"type\": \"boolean\" },\n    \"corrected_intro\": { \"type\": \"string\" },\n    \"issues\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"parting_word\": { \"type\": \"string\" }\n  },\n  \"required\": [\"passed\", \"corrected_intro\", \"issues\", \"parting_word\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2960,
        1136
      ],
      "id": "cae0be05-445e-4e33-be97-bacb67125fb1",
      "name": "Structured Output Parser7",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "maxTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2832,
        1136
      ],
      "id": "4b7974da-1067-4bd0-9b7f-52cad5844a57",
      "name": "Mistral Cloud Chat Model7",
      "credentials": {
        "mistralCloudApi": {
          "id": "gAykUPOcSoQmR4NC",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Headlines: {{ JSON.stringify($json.data) }}\nGenerate the fallback intro as JSON with key \"intro\".",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a backup newsletter editor. Write a very short, simple newsletter intro (under 80 words) using basic Kenyan slang. Output ONLY a valid JSON object with a single key \"intro\". Example: {\"intro\": \"Sasa! We had a small glitch. Full newsletter next week.\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1824,
        1024
      ],
      "id": "fd364dfa-46b3-4d33-b204-856e07018088",
      "name": "Backup Chief Editor",
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json;\n// Add a flag to indicate this came from the fallback path\ndata._fallback = true;\nreturn { json: data };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        1040
      ],
      "id": "20ab3787-6cd5-446a-a251-3006dfaa4ebf",
      "name": "Flag Fallback",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1920,
        1264
      ],
      "id": "1625ccb5-9d53-4612-ae3a-3a04af3de9b9",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "bATTxkU152jS5uVc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "magistral-small-latest",
        "options": {
          "maxTokens": 200,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1680,
        1232
      ],
      "id": "96a4bf87-2d5f-48eb-a2f6-46e857180693",
      "name": "Mistral Cloud Chat Model6",
      "credentials": {
        "mistralCloudApi": {
          "id": "gAykUPOcSoQmR4NC",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 200,
          "responseFormat": "json_object",
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2736,
        1088
      ],
      "id": "a3688cb1-cefc-4031-bca7-46455c0d9732",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "cc2vElBS5dYsY91k",
          "name": "OpenAI account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP _ TechCabal": {
      "main": [
        [
          {
            "node": "Truncate TechCabal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truncate TechCabal": {
      "main": [
        [
          {
            "node": "AI Agent _ TechCabal Reporter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent _ TechCabal Reporter": {
      "main": [
        [
          {
            "node": "Validate TechCabal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate TechCabal": {
      "main": [
        [
          {
            "node": "Merge Field Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Business Daily Reporter": {
      "main": [
        [
          {
            "node": "Truncate Business Daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truncate Business Daily": {
      "main": [
        [
          {
            "node": "AI Agent _ Business Daily Reporter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent _ Business Daily Reporter": {
      "main": [
        [
          {
            "node": "Validate Business Daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Business Daily": {
      "main": [
        [
          {
            "node": "Merge Field Reports",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP_The Star": {
      "main": [
        [
          {
            "node": "Truncate The Star",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truncate The Star": {
      "main": [
        [
          {
            "node": "AI Agent_The Star",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent_The Star": {
      "main": [
        [
          {
            "node": "Validate The Star",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate The Star": {
      "main": [
        [
          {
            "node": "Merge Field Reports",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP_The Standard": {
      "main": [
        [
          {
            "node": "Truncate The Standard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truncate The Standard": {
      "main": [
        [
          {
            "node": "AI Agent_The Standard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent_The Standard": {
      "main": [
        [
          {
            "node": "Validate The Standard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate The Standard": {
      "main": [
        [
          {
            "node": "Merge Field Reports",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "HTTP _The Kenyan Wallstreet": {
      "main": [
        [
          {
            "node": "Truncate Kenyan Wallstreet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truncate Kenyan Wallstreet": {
      "main": [
        [
          {
            "node": "AI Agent_The Kenyan wall street",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent_The Kenyan wall street": {
      "main": [
        [
          {
            "node": "Validate Kenyan Wallstreet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Kenyan Wallstreet": {
      "main": [
        [
          {
            "node": "Merge Field Reports",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge Field Reports": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Count & Governance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count & Governance": {
      "main": [
        [
          {
            "node": "AI Agent_Chief Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent_Chief Editor": {
      "main": [
        [
          {
            "node": "Validate Chief Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Backup Chief Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Chief Output": {
      "main": [
        [
          {
            "node": "Merge Success/Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Success/Fallback": {
      "main": [
        [
          {
            "node": "QA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Agent": {
      "main": [
        [
          {
            "node": "Extract Governance & Intro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Governance & Intro": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Governance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent _ TechCabal Reporter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent _ TechCabal Reporter",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent _ Business Daily Reporter",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent_The Star",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent_The Star",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent_The Standard",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent_The Standard",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent_The Kenyan wall street",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent_The Kenyan wall street",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent _ TechCabal Reporter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent _ Business Daily Reporter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent_The Star",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent_The Standard",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent_The Kenyan wall street",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP _ TechCabal",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP_Business Daily Reporter",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP_The Star",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP_The Standard",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP _The Kenyan Wallstreet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent _ Business Daily Reporter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent_Chief Editor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent_Chief Editor",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent_Chief Editor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser6": {
      "ai_outputParser": [
        [
          {
            "node": "Backup Chief Editor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser7": {
      "ai_outputParser": [
        [
          {
            "node": "QA Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "QA Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Backup Chief Editor": {
      "main": [
        [
          {
            "node": "Flag Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Fallback": {
      "main": [
        [
          {
            "node": "Merge Success/Fallback",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Backup Chief Editor",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Backup Chief Editor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "QA Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dffb410c-a1c6-4aca-b132-1e8696fb96db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87a078f3bc48d2fed8c592932447116865d97ee0ec39c410fb1495422eda3431"
  },
  "id": "We9gVq2sORq0pqTT",
  "tags": []
}